body {
    background-color: lightslategrey
}

hr {
    height: 5px;
    background-color: black;
}

h1, h2 {
    text-align: center;
    text-decoration: underline;
}

.title {
    font-size: 28px;
    text-decoration: underline;

}

.description {
    display: flexbox;
    background-color: rgb(98, 195, 227);
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.box {
    border-radius: 5%;
    background-color: rgb(98, 195, 227);
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    height: 500px;
}

.box img {
    margin: 5px;
    border: 2px solid black;
    max-width: 350px;
    max-height: 250px;
    object-fit: cover;
}

.box .name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1px;
    text-decoration: underline;
}

.box .price {
    font-size: 18px;
    margin: 5px;
}

.box .quantity {
    font-size: 18px;
    margin-bottom: 5px;
}

.box .quantity button {
    background-color: lightgray;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

.box .quantity input[type="text"] {
    width: 30px;
    text-align: center;
    border: none;
    background-color: #f2f2f2;
    font-size: 20px;
    margin: 30px;
}

.plus-button {
    border-radius: 5px 5px 5px 5px;
}

.minus-button {
    border-radius: 5px 5px 5px 5px;
}

.quantity-label {
    font-size: 15px;
    margin: 0px 5px;
}

/* der alte total-price-container */
/* .total-price-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} */

/* der neue total-price-container */
.total-price-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.total-price-label {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    margin-right: 10px;
    /* 2 alternative änderungen */
    background-color: aliceblue;
    padding: 3px;
}

#total-price {
    font-size: 24px;
    font-weight: bold;
    /* 3 alternative änderungen */
    background-color: aliceblue;
    max-width: 125px;
    padding: 3px;
}

.bild {
    width: 250px;
    height: 150px;
  }

  